@media (min-width: 992px){
	.dropdown-menu .dropdown{
		border-top: .3em solid transparent;
	    border-right: 0;
	    border-bottom: .3em solid transparent;
	    border-left: .3em solid;
	

	}
	}


    

.mid {
    text-align: center;
    margin-top: 50px; /* Adjust the top margin as needed */
    font-family: 'Source Sans Pro', sans-serif;
	
}

.top-line,
.middle-line,
.bottom-line {
    font-weight: 700;
    font-size: 70px;
    color: #333; /* Adjust the color as needed */
    margin-top: 10px; /* Adjust the bottom margin as needed */
}
.create-yours {
    text-align: center;
    margin: auto;
    width: fit-content;
    padding: 10px;
    border: 2px solid #000; /* Border color, change as needed */
    border-radius: 10px; /* Adjust border radius as needed */
    background-color:rgb(43, 43, 250); /* Add background color */
}

.create-yours button {
    padding: 8px 16px; /* Adjust button padding as needed */
    cursor: pointer;
    border: none; /* Remove default button border */
    background-color: transparent; /* Set background color to transparent */

}

.yy {
    text-align: center;
    margin: 20px auto;
    width: fit-content;
	font-size:50px;
	font-weight: bold;

}
.bottom-photo img {
    width: 100%;
    height: auto;
    margin-bottom: 10px; /* Add a margin at the bottom of the image */
}

.pictures img {
    width: 100%;
    height: auto;
    margin-bottom: 10px; /* Add a margin at the bottom of each image */
}

.card-group {
    display: flex;
	flex-wrap: wrap; 
	justify-content: center; /* Center the cards horizontally */

}

.card.pictures {
    text-align: center; /* Center images horizontally */
    margin: 0 10px; /* Add some margin between the cards */
	transition: transform 0.3s ease;
}

.card.pictures img {
    width: 100%; /* Make the images inside the card take 100% width */
    height: auto; /* Maintain aspect ratio */
    max-width: 400px; /* Set a maximum width for the images */
}

.card.pictures:hover {
    transform: scale(1.1);
}



.card.pictures h1 {
    font-weight: bold; /* Make the text bold */
    font-size: 30px; /* Set the desired font size, adjust as needed */
    margin-top: 10px; /* Add some top margin for spacing */
}
                                         
footer h1 small {
    font-size: 80%; /* You can adjust the percentage as needed */
}

footer .card-img-top {
    max-width: 100%; /* Set the maximum width to 100% of the container */
    height: auto; /* Maintain aspect ratio */
    width: 150px;
    display:block;
    margin:0 auto;
    max-height: 300px;
}

footer .col-lg-3 {
    border-right: 1px solid black; /* Add a right border to each column */
    padding-right: 15px;
    margin-right: 0;

}

footer .col-lg-3 {
    border-right: 1px solid black; /* Add a right border to each column */
    padding-right: 30px; /* Add some padding to visually separate the content from the border */
    margin-right: 60px; /* Add a margin to create a gap between columns */
}

footer .col-lg-3:last-child {
    border-right: none; /* Remove the right border from the last column */
    padding-right: 0; /* Remove the padding from the last column */
    margin-right: 0; /* Remove the margin from the last column */
}

.p-container {
    text-align: center;
    margin-top: 20px; /* Adjust margin-top as needed */
}

.p-container h1 {
    font-size: 60px;
    font-weight: bold;
}

.section.text-center {
    text-align: center;
}

.section h5 {
    font-size: 16px; /* Adjust the font size for the text */
}

.p-container {
    margin-top: 100px; /* Adjust the margin value as needed */
}

.custom-flex {
    font-weight: bold;
    font-size: 40px;
    cursor: pointer;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.left-images,
.right-images,
.center-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.top-images,
.bottom-images
 {
    display: flex;
    gap: 5px; /* Adjust the gap between images */
}

.image-container img {
    width: 80%;
    height: auto;
    max-height: 40vh; /* Adjust the height of the images as needed */
    transition: transform 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.1); /* Adjust the scale factor for the hover effect */
}
/* Common styles */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Button container styles */
  .explore-button {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Button styles */
  .year-in-review-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  /* Image container styles */
  .black-img {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
  }
  
  /* Image styles */
  .black-img img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
  }
  
  /* Content container styles */
  .content-container {
    position: absolute;
    top: 40%;
    right: 10%;
    left: 5%;
    text-align: left;
    z-index: 1;
  }
  
  /* Content text styles */
  .content-container h1 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .content-container h2 {
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: bold;
  }
  
  .content-container .deal-button {
    display: inline-block;
    padding: 8px 15px;
    font-size: 14px;
    text-align: center;
    background-color: purple;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Icon above container styles */
  .icon-above {
    text-align: center;
    margin-top: 20px;
    background-color: #ffede7;
    padding: 20px;
  }
  
  /* Icon above text styles */
  .icon-above h1 {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  /* Icon row styles */
  .icon-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  /* Individual icon styles */
  .icon {
    margin: 10px;
    width: 80px;
    height: auto;
  }
  
  /* Icon caption styles */
  .icon-caption {
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
    padding: 20px;
  }
  
  /* Heading 2 styles */
  h2 {
    font-weight: bold;
    font-size: 20px;
  }
  
  /* TM styles */
  .tm {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
  }
  
  /* Media Query for Small Screens */
  @media (max-width: 768px) {
    .explore-button {
      margin-bottom: 10px;
    }
  
    .year-in-review-button {
      padding: 12px 20px;
      font-size: 12px;
    }
  
    .content-container h1 {
      font-size: 16px;
    }
  
    .content-container h2 {
      font-size: 12px;
    }
  
    .content-container .deal-button {
      padding: 8px 12px;
      font-size: 12px;
    }
  
    .icon-above h1 {
      font-size: 16px;
    }
  
    .icon-row {
      flex-direction: column;
    }
  
    .icon {
      width: 60px;
    }
  
    .icon-caption {
      font-size: 12px;
      padding: 10px;
    }
  
    h2 {
      font-size: 16px;
    }
  
    .tm {
      font-size: 50px;
      padding-top: 20px;
    }
  }
  .flex-container {
    display: flex;
    max-width: 100%;
    overflow: hidden; 
    margin-bottom: 20%;
  }

  
  .video-container {
    flex: 1;
    position: relative;
    padding-bottom: 40%;
    overflow: hidden;
  }

  .video-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
right: 200px;
  }

  .flex-container2 {
    display: flex;
    max-width: 100%;
    overflow: hidden;
    
    margin-bottom: 20px; /* Add a gap at the bottom */
  }

  /* Style for the Vimeo iframe */
  .video-container2 {
    flex: 1; /* Take remaining space in the flex container */
    position: relative;
    padding-bottom: 56.25%; /* Aspect ratio for 16:9 video */
    overflow: hidden;
  }

  .video-container2 iframe {
    position: absolute;
    width: 200%;
    height: 100%;
    top: 0;
    left: 0;
  }
  